@model RPA.Web.Consorcio

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Consorcio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denominacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denominacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
